<p>Hey {{ name }},</p>
<p>Your Forgot password link is:</p>
<h2><a href={{url}}> Forgot your password </a></h2>
<p>Please use this link to reset your password.</p>
<p>If you did not request this email you can safely ignore it.</p>

Regards,
Admin template Team
