<p>Hey {{ name }},</p>
<p>Greetings!!!</p>
<br/>
<p>You have been invited to join Admin template.</p>
<p>Please accept the invitation using following button or using application.</p>

<a href={{ url }}>Accept</a>

<p>If you don't want to accept the invitation then ignore this email.</p>

Regards,
Admin template Team
