<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hris</title>
    <style>
        .flex {
            display: flex;
            justify-content: center;
        }

        .container {
            width: 50%;
            background-color: rgb(235, 239, 243);
            border-radius: 20px;
            margin: auto;
            min-width: 360px
        }

        button {
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 20px;
            cursor: pointer;
            border-radius: 10px;
        }

        .acceptButton {
            background-color: rgb(44, 116, 44);
        }

        .declineButton {
            background-color: rgb(230, 34, 34);
        }

        hr {
            height: 2.5px;
            border-width: 0;
            background-color: #85898a;
            margin: 20px 30px;
        }

        .subContainer {
            padding: 15px;
        }

        .bodyContent {
            font-family: Calibri;
            font-size: 20px;
            word-break: break-word;
        }

        body {
            margin: 10px;
        }

        a {
            text-decoration: none;
        }

        .leaveText {
            color: rgb(44, 116, 44);
        }
    </style>
</head>

<body>
    <center>
        <img src="https://teamunibrains.com/wp-content/uploads/2022/01/UNIBRAIN-LOGO-01-2-150x150.png" />
    </center>
    <main class="flex">
        <center>
            <div class="container">
                <table cellpadding="0" cellspacing="0" width="100%" class="subContainer" align="center">
                    <tr>
                        <td>
                            <p>
                                <span class="subtitleText">Test Email</span>
                            </p>
                            <div class="bodyContent"> <span>This is a test email to verify the functionality of our
                                    email system. Please disregard this message if received in error.</span></div>
                            <p class="bodyContent">Best Regards,<br />Team Unibrains</p>
                        </td>
                    </tr>
                </table>
            </div>
        </center>
    </main>
</body>

</html>